body {
  background-color: #eee;
  background: url(../img/metroBackground.png) left top no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}


/* bootstrap stylesheet used by unagular-ui as bootstrap css was not reference from main to avoid collisions with metro css*/
/* TODO: move to its own css */

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -moz-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
  display: block !important;
  border: 0px !important;
}
/* End of bootstrap stylesheet */

/* app css stylesheet */

/* displays pointer in bootstrap's components which used empty href attributes */
.nav, .pagination, .carousel a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
