
<style type="text/css">
.metro .tile .brand .name, .metro .tile .tile-status .name, .metro .tile .brand .label, .metro .tile .tile-status .label, .metro .tile .brand .text, .metro .tile .tile-status .text {
    margin: 0px;
}
</style>

<h1 style="margin: 15px;">
    <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
    Agregar Cargos
</h1>
<div style="width: 1774px; overflow: hidden;" class="ng-scope">
    <div style="width: 1774px; overflow: hidden;" class="ng-scope">
        <div class="tile-group three">
            <div class="tile-group-title fg-black">Analisis</div>
            <!-- end tile -->

              <!-- end tile -->

            <div class="tile">
                <div class="tile-content image">
                    <img src="img/clouds.jpg">
                </div>
                <div class="brand">
                    <div class="label fg-amber">Conteo de globulo rojos</div>
                </div>
                <small class="bg-cobalt fg-black">10</small>
            </div> <!-- end tile -->

            <!-- small tiles -->
            <a href="#" class="tile bg-lightBlue">
                <div class="tile-content icon">
                    <span class="icon-lab"></span>
                </div>
                <div class="brand">
                    <div class="label">Conteo globulo blancos</div>
                </div>
            </a>
            <a href="#" class="tile half bg-darkRed">
                <div class="brand">
                    <div class="label">Analisis uno uno uno</div>
                </div>
            </a>

            <a href="#" class="tile half bg-darkOrange">
                <div class="brand">
                    <div class="label">Analisis dos dos</div>
                </div>
            </a>

            <a href="#" class="tile half bg-green">
                <div class="brand">
                    <div class="label">Analisis tres tres</div>
                </div>
            </a>

            <a href="#" class="tile bg-darkOrange">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">Azucar en sangre</div>
                </div>
            </a>

            <a href="#" class="tile half bg-darkPink">
                <div class="brand">
                    <div class="label">Analisis cuatro</div>
                </div>
            </a>
        </div> <!-- End group -->

    <div class="tile-group">
        <div class="tile-group-title fg-black">Tratamientos</div>
        <a class="tile half bg-darkBlue">
            <div class="brand">
                <div class="label">Induccion a la ovolacion</div>
            </div>
        </a>
        <a class="tile half bg-darkGreen">
            <div class="brand">
                <div class="label">Tratamiento uno 1</div>
            </div>
        </a>
        <a class="tile half bg-darkPink">
            <div class="brand">
                <div class="label">Tratamiento 2 dos</div>
            </div>
        </a>
        <a class="tile half bg-orange">
             <div class="brand">
                <div class="label">Tratamiento 3 3 3 3 3</div>
            </div>
        </a>
        <a class="tile half bg-lightBlue">            
            <div class="brand">
                <div class="label">Tratamiento cuatro 4 cuatrocuatro</div>
            </div>
        </a>
        <a class="tile half bg-darkRed">
            <div class="tile-content icon">
                <span class="icon-camera"></span>

            </div>
        </a>
    </div> <!-- End tile group -->

    <div class="tile-group double">
                <div class="tile-group-title fg-black">Medicamentos</div>
            <!-- end tile -->

              <!-- end tile -->

            <div class="tile">
                <div class="tile-content image">
                    <img src="img/clouds.jpg">
                </div>
                <div class="brand">
                    <div class="label fg-amber">Photos</div>
                </div>
                <small class="bg-cobalt fg-black">10</small>
            </div> <!-- end tile -->

            <!-- small tiles -->
            <a href="#" class="tile bg-lightBlue">
                <div class="tile-content icon">
                    <span class="icon-IE"></span>
                </div>
                <div class="brand">
                    <div class="label">Internet Explorer</div>
                </div>
            </a>
            <a href="#" class="tile half bg-darkRed">
                <div class="tile-content icon">
                    <span class="icon-camera"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkOrange">
                <div class="tile-content icon">
                    <span class="icon-headphones"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-green">
                <div class="tile-content icon">
                    <span class="icon-steering-wheel"></span>
                </div>
            </a>


    <!-- end small tiles -->

    <!-- end tile -->

    <!-- end tile -->



            <a href="#" class="tile bg-darkOrange">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">Help+Tips</div>
                </div>
            </a>




            <a href="#" class="tile half bg-darkPink">
                <div class="tile-content icon">
                    <span class="icon-pictures"></span>
                </div>
            </a>        
    </div> <!-- End group -->

    <div class="tile-group double">
                 <div class="tile-group-title fg-black"></div>
            <!-- end tile -->

              <!-- end tile -->

            <div class="tile">
                <div class="tile-content image">
                    <img src="img/clouds.jpg">
                </div>
                <div class="brand">
                    <div class="label fg-amber">Photos</div>
                </div>
                <small class="bg-cobalt fg-black">10</small>
            </div> <!-- end tile -->

            <!-- small tiles -->
            <a href="#" class="tile bg-lightBlue">
                <div class="tile-content icon">
                    <span class="icon-IE"></span>
                </div>
                <div class="brand">
                    <div class="label">Internet Explorer</div>
                </div>
            </a>
            <a href="#" class="tile half bg-darkRed">
                <div class="tile-content icon">
                    <span class="icon-camera"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-darkOrange">
                <div class="tile-content icon">
                    <span class="icon-headphones"></span>
                </div>
            </a>

            <a href="#" class="tile half bg-green">
                <div class="tile-content icon">
                    <span class="icon-steering-wheel"></span>
                </div>
            </a>


    <!-- end small tiles -->

    <!-- end tile -->

    <!-- end tile -->



            <a href="#" class="tile bg-darkOrange">
                <div class="tile-content icon">
                    <span class="icon-help"></span>
                </div>
                <div class="brand">
                    <div class="label">Help+Tips</div>
                </div>
            </a>




            <a href="#" class="tile half bg-darkPink">
                <div class="tile-content icon">
                    <span class="icon-pictures"></span>
                </div>
            </a>
    </div>
</div>

<!--
<div class="grid" style="margin:15px;">
  <div class="row">
    <button class="shortcut">
      <i class="icon-rocket"></i>
      Rocket
    </button>
    <button class="shortcut primery">
      <i class="icon-rocket"></i>
      Rocket
      <small class="bg-cobalt fg-white">10</small>
    </button>
    <button class="shortcut info">
      <i class="icon-rocket"></i>
      Rocket
    </button>
    <button class="shortcut success">
      <i class="icon-rocket"></i>
      Rocket
      <small class="bg-cobalt fg-white">10</small>
    </button>
    <button class="shortcut warning">
      <i class="icon-rocket"></i>
      Rocket
    </button>
    <button class="shortcut danger">
      <i class="icon-rocket"></i>
      Rocket
      <small class="bg-cobalt fg-white">10</small>
    </button>
    <button class="shortcut inverse">
      <i class="icon-rocket"></i>
      Rocket
    </button>
    <button class="shortcut link">
      <i class="icon-rocket"></i>
      Rocket
      <small class="bg-cobalt fg-white">10</small>
    </button>
  </div>
</div>-->