<div class="grid fluid">
    <div class="row">
        <div class="span4" style="padding: 0px 15px;">
            <nav class="sidebar">
                <ul>
                    <li class="title">Items Group 1</li>
                    <li class="active"><a href="#"><i class="icon-home"></i>Dashboard</a></li>
                    <li class="stick bg-red"><a href="#"><i class="icon-cog"></i>Layouts</a></li>
                    <li class="stick bg-yellow">
                        <a class="metro-dropdown-toggle dropdown-toggle" href="#"><i class="icon-tree-view"></i>Sub menu</a>
                        <ul class="dropdown-menu" id="martin" data-role="dropdown">
                            <li><a href="">Subitem 1</a></li>
                            <li><a href="">Subitem 2</a></li>
                            <li><a href="">Subitem 3</a></li>
                            <li class="divider"></li>
                            <li><a href="">Subitem 4</a></li>
                            <li class="disabled"><a href="">Subitem 4</a></li>
                        </ul>
                    </li>
                    <li class="stick bg-green"><a href="#">Thread item</a></li>
                    <li class="disabled"><a href="#">Disabled item</a></li>

                    <li class="title">Items Group 2</li>
                    <li><a href="#">Other Item 1</a></li>
                    <li><a href="#">Other item 2</a></li>
                    <li><a href="#">Other item 3</a></li>
                    <li>
                        <a class="dropdown-toggle" href="#">Sub menu 2</a>
                        <ul class="dropdown-menu" data-role="dropdown">
                            <li><a href="">Subitem 1</a></li>
                            <li><a href="">Subitem 2</a></li>
                            <li><a href="">Subitem 3</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="span8">
            <table class="table striped">
                <thead>
                <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Time CP</th>
                    <th class="text-left">Network</th>
                    <th class="text-left">Traffic</th>
                    <th class="text-left">Tiles update</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Bing</td><td class="right">0:00:01</td><td class="right">0,1 Mb</td><td class="right">0 Mb</td><td class="right">0,1 Mb</td></tr>
                <tr><td>Internet Explorer</td><td class="right">0:00:01</td><td class="right">0,1 Mb</td><td class="right">0 Mb</td><td class="right">0,1 Mb</td></tr>
                <tr><td>Chrome</td><td class="right">0:00:01</td><td class="right">0,1 Mb</td><td class="right">0 Mb</td><td class="right">0,1 Mb</td></tr>
                <tr><td>News</td><td class="right">0:00:01</td><td class="right">0,1 Mb</td><td class="right">0 Mb</td><td class="right">0,1 Mb</td></tr>
                <tr><td>Weather</td><td class="right">0:00:01</td><td class="right">0,1 Mb</td><td class="right">0 Mb</td><td class="right">0,1 Mb</td></tr>
                <tr><td>Music</td><td class="right">0:00:01</td><td class="right">0,1 Mb</td><td class="right">0 Mb</td><td class="right">0,1 Mb</td></tr>
                </tbody>

                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>

