<div class="panel panel-default" style="margin: 15px;">
  <div class="panel-heading">Horses</div>
  <div class="panel-body">
    Búsqueda: <div class="span3 input-control text">
        <input type="text" />
        <button class="btn-search"></button>
    </div>
    <table class="table striped">
            <thead>
            <tr>
                <th class="text-left">Nombre</th>
                <th class="text-left">Sexo</th>
                <th class="text-left">Categoria Actual</th>
                <th class="text-left">Dueños</th>
                <th class="text-left"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Bing</td>
              <td>M</td>
              <td>Madre con cria al pie</td>
              <td>Hs. St. Maria, Jorge Cure... mas</td>
              <td class="right"><a href="">Editar</a></td>
            </tr>
            <tr>
              <td>Explorer</td><td>H</td><td class="right">Box</td><td class="right">Hs. Nuevo Mundo</td><td class="right"><a href="">Editar</a></td>
            </tr>
            <tr>
              <td>Chrome Tur</td><td>H</td><td class="right">Madre</td><td class="right">Santiago Bulms</td><td class="right"><a href="">Editar</a></td>
            </tr>
            <tr>
              <td>Good News</td><td>H</td><td class="right">A Servir</td><td class="right">Tomas Melcor</td>
              <td class="right"><a href="">Editar</a></td>
            </tr>
            </tbody>

            <tfoot></tfoot>
        </table>
  </div>
</div>