<h1 style="margin: 15px;">
    <a href="javascript:history.back();"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
    Explorer<small class="on-right">Winds</small>
</h1>

<div class="grid" style="margin: 15px;">
  <div class="row">
    <div class="span6"> 
    <dl class="horizontal">
        <dt>Genero:</dt>
        <dd>Masculino</dd>
        <dt>Dueños:</dt>
        <dd>33,3% - Hs. St. Maria de Haras</dd>
        <dd>33,3% - Lamas, Jorge Carlos</dd>
        <dd>33,3% - Hs. Los Arroyos</dd>
    </dl>
    </div>
    <div class="span6">
    
    </div>
  </div>
  <div class="row">
    <div class="span7">
      <div class="panel panel-default">
        <div class="panel-heading">Cambios de Categorias</div>
        <div class="panel-body">
          <table class="table striped">
                  <thead>
                  <tr>
                      <th class="text-left">Fecha</th>
                      <th class="text-left">Categoria</th>
                      <th class="text-left">Costo Estadia</th>
                      <th class="text-left"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td>12-01</td>
                    <td>Madre a campo</td>
                    <td>$ 1500,00</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td>20-01</td>
                    <td>Madre c/ cria al pie</td>
                    <td>$ 1000,00</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td>20-02</td>
                    <td>Madre a campo</td>
                    <td>$ 1500,00 (a la fecha)</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  </tbody>

                  <tfoot></tfoot>
              </table>
        </div>
      </div>
    </div>
    <div class="span7">
      <div class="panel panel-default">
        <div class="panel-heading">Historial de Cargos</div>
        <div class="panel-body">
          <table class="table striped">
                  <thead>
                  <tr>
                      <th class="text-left">Tipo</th>
                      <th class="text-left">Descripcion</th>
                      <th class="text-left">Costo</th>
                      <th class="text-left"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td>Analisis</td>
                    <td>Nivel fr en sangre</td>
                    <td>$ 105,30</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td>Tratamiento</td>
                    <td>Anemia</td>
                    <td>$ 340,00</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td>Analisis</td>
                    <td>Cuagulacion</td>
                    <td>$ 55,50</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td>Analisis</td>
                    <td>Rx</td>
                    <td>$ 75,00</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  <tr>
                    <td>Viajes</td>
                    <td>A servicios Abolengo</td>
                    <td>$ 600,00</td>
                    <td class="right"><a href="">Eliminar</a></td>
                  </tr>
                  </tbody>
                  <tfoot></tfoot>
              </table>
        </div>
      </div>
    </div>
  </div>
</div>

