<div class="panel panel-default" style="margin: 15px;">
  <div class="panel-heading">Owners</div>
  <div class="panel-body">
        Búsqueda: <div class="span3 input-control text">
        <input type="text" />
        <button class="btn-search"></button>
    </div>
    <table class="table striped">
            <thead>
              <tr>
                  <th class="text-left">Nombre</th>
                  <th class="text-left">Apellido</th>
                  <th class="text-left">Envio de Facturas</th>
                  <th class="text-left"></th>
                  <th class="text-left"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hs.</td>
                <td>St. Maria</td>
                <td>admin@stmaria.com.ar</td>
                <td></td>
                <td class="right"><a href="">Editar</a></td>
              </tr>
              <tr>
                <td>Hs.</td>
                <td>Nuevo Mundo</td>
                <td>harasnuevomundo@gmail.com</td>
                <td class="right"></td><td class="right"><a href="">Editar</a></td>
              </tr>
              <tr>
                <td>Santiago</td>
                <td>Bulms</td>
                <td>sbulms@hotmail.com</td>
                <td class="right"></td><td class="right"><a href="">Editar</a></td>
              </tr>
              <tr>
                <td>Tomas</td>
                <td>Melcor</td>
                <td>melcor@fiber.com.ar</td>
                <td class="right"></td>
                <td class="right"><a href="">Editar</a></td>
              </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
  </div>
</div>