<h1 style="margin: 15px;">
    <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
    Lamas<small class="on-right">Jorge Emilio</small>
</h1>
<form style="margin:15px;">
    <fieldset>
      <div class="grid">
      <div class="row">
      <div class="span4">
        <legend>Owner's Information</legend>

        <lable>Nombre</lable>
        <div class="input-control text" data-role="input-control">
            <input type="text" placeholder="nombre">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
        <lable>Apellido</lable>
        <div class="input-control text" data-role="input-control">
            <input type="text" placeholder="nombre">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
      </div>
                                      

      <div class="span8">
        <legend>Billing delivery method</legend>

        <div class="row">
          <div class="span3">
            <div class="input-control checkbox" data-role="input-control">
                <label>
                    <input type="checkbox" checked="">
                    <span class="check"></span>
                    Email to
                </label>
            </div>
            <div class="input-control text span3">
                <input type="text" value="" placeholder="email where to send invoice"/>
                <button class="btn-clear"></button>
            </div>
          </div>
          <div class="span4">
            <div class="input-control checkbox" data-role="input-control" style="margin-right: 15px;">
                <label>
                    <input type="checkbox" checked="">
                    <span class="check"></span>
                    Paper Print
                </label>
            </div>
            <div class="input-control checkbox" data-role="input-control">
                <label>
                    <input type="checkbox" checked="">
                    <span class="check"></span>
                    PDF Print
                </label>
            </div>
          </div>
        </div>
      </div>
      </div></div>
      <button class="large default">Guardar</button>
      <button class="large link">Cancelar</button>
    </fieldset>
</form>