<h1 style="margin: 15px;">
    <a href="/"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
    Dueños
</h1>
<div class="panel panel-default" style="margin: 15px;">
  <div class="panel-heading">Búsqueda: <div class="span3 input-control text" style="margin: 0px;">
        <input type="text" />
        <button class="btn-search"></button>
    </div>
  </div>
  <div class="panel-body">
    <table class="table striped">
            <thead>
              <tr>
                  <th class="text-left">Nombre</th>
                  <th class="text-left">Apellido</th>
                  <th class="text-left">Envio de Facturas</th>
                  <th class="text-left"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Hs.</td>
                <td>St. Maria</td>
                <td>admin@stmaria.com.ar</td>
                <td class="right">
                  <a class="button mini warning" href="#/owners/jorgeEmiliLamas/edit">Editar</a> 
                  <button class="mini danger" href="">Eliminar</button>
                </td>
              </tr>
              <tr>
                <td>Hs.</td>
                <td>Nuevo Mundo</td>
                <td>harasnuevomundo@gmail.com</td>
                <td class="right">
                  <a class="button mini warning" href="#/owners/jorgeEmiliLamas/edit">Editar</a> 
                  <button class="mini danger" href="">Eliminar</button>
                </td>
              </tr>
              <tr>
                <td>Santiago</td>
                <td>Bulms</td>
                <td>sbulms@hotmail.com</td>
                <td class="right">
                  <a class="button mini warning" href="#/owners/jorgeEmiliLamas/edit">Editar</a> 
                  <button class="mini danger" href="">Eliminar</button>
                </td>
              </tr>
              <tr>
                <td>Tomas</td>
                <td>Melcor</td>
                <td>melcor@fiber.com.ar</td>
                <td class="right">
                  <a class="button mini warning" href="#/owners/jorgeEmiliLamas/edit">Editar</a>
                  <button class="mini danger" href="">Eliminar</button>
                </td>
              </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        <div ><a href="#/owners/new" class="button info">Nuevo</a></div>
  </div>
</div>